<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /cid101/g3/back
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /cid101/g3/back/index.html [L]
</IfModule>